body {
	background-color: #000000;
}

h1 {
	font-size: 48px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.main-box {
	/*height: 100%;*/
	min-height: 100%;
	background-color: #C0C0C0;
}

.weather-info {
	font-size: 2.2em;
	padding: 10px 0;
	margin: 0;
}

.weather-icon {
	font-size: 2.5em;
}

.temp-toggle {
	cursor: default;
	color: #000000;
}

.temp-toggle:hover {
	text-decoration: none;
}

.api-desc-text {
	font-size: 1.5em;
}

.key-submit,
.key-form {
	margin-top: 15px;
	margin-bottom: 15px;
}

.key-text {
	width: 270px;
}

.weather-display-area {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.last-updated {
	margin-top: 15px;
	font-size: 1.2em;
}